<!DOCTYPE html>
<html lang="sv" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stjernström Learning. - Flask Beginner</title>
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/article.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap"
      rel="stylesheet"
    />
    <link href="../css/prism.css" rel="stylesheet" />
    <!-- <link href="../css/prism-material-dark.css" rel="stylesheet" /> -->
    <script src="../js/prism.js" defer></script>
    <script src="../js/mainScripts.js" defer></script>
  </head>
  <body>
    <div class="progress-container">
      <div class="progress-bar" id="progress-bar"></div>
    </div>
    <main>
      <section class="dark-theme">
        <div class="toggle-container">
          <img
            src="https://stjernstrom.me/PVSPYH23/assets/moon.svg"
            alt="Dark Mode"
          />
        </div>
      </section>
      <h1>Flask - Lätt och krafullt</h1>
      <h3 class="subtitle">PVSPYH23 Edition</h3>

      <article>
        <h2 id="section-head">Kapitel 5 - Formulärdata</h2>
        <span class="anchor"><a href="#section-head">#</a></span>
        <p>
          Nu när vi har en grundläggande förståelse för hur Flask fungerar och
          har byggt en hel del dynamik på våran webbsida. Så ska vi ta och bygga
          vidare på det vi har lärt oss. Vi ska nu ta emot data från ett
          formulär och skicka tillbaka det till användaren.
        </p>
        <h2 id="section-head-1">Skicka och ta emot data</h2>
        <span class="anchor"><a href="#section-head-1">#</a></span>
        <p>
          För att ta emot data från ett formulär så behöver vi en
          <code>&lt;input /&gt;</code>-tagg med ett <code>name</code>-attribut.
          Detta attributet är det som Flask använder för att identifiera vad som
          skickas tillbaka. Vi kan sedan använda <code>request.form</code> för
          att hämta datan som skickas tillbaka.
        </p>
        <p>
          Vi börjar med att skapa en ny template-fil som heter
          <code>form.html</code>. Där lägger vi in ett formulär med en
          <code>input</code>-tagg:
        </p>

        <!-- prettier-igoner -->
        <pre><code class="language-jinja2 line-numbers">{# templates/form.html #}
{% extends "template.html" %}
{% block content %}
&lt;form method="post"&gt;
    &lt;label&gt;Skriv ditt namn:&lt;/label&gt;
    &lt;input type="text" name="name" /&gt;
    &lt;button type="submit"&gt;Submit&lt;/button&gt;
&lt;/form&gt;
{% endblock %}</code></pre>

        <p>
          Vi kommer också skapa en ny route i <code>app.py</code> som tar emot
          en POST-request (definerat i route-dekoratören):
        </p>

        <!-- prettier-ignore -->
        <pre><code class="language-python line-numbers">@app.route("/form", methods=["POST"])
    def form():
        if request.method == "POST":
            name = request.form.get("name")
            return f"Hej {name}!"
        return render_template("form.html")</code></pre>

        <p>
          Likt tidigare så använder vi <code>request</code> men denna gång
          använder vi <code>request.form.get</code> för att plocka ut det som
          skickas från formuläret istället för direkt från sökvägen.
        </p>
        <p>
          Denna gång ändras inte sökvägen när vi skickar formuläret. Detta är
          för att vi inte har satt <code>action</code> i formuläret, vilket gör
          att vi skickar formuläret till samma sökväg som vi är på och för att
          vi använder metoden <code>POST</code> som är "hemlig". Vilket vi
          ville, eftersom vi har vår route som tar emot en POST-request på samma
          sökväg.
        </p>
        <p>
          Nu har vi en sida som tar emot data från ett formulär och skickar
          tillbaka det till användaren.
        </p>
        <h2 id="section-head-2">Använda GET i formulär</h2>
        <span class="anchor"><a href="#section-head-2">#</a></span>
        <p>
          Vi kan också använda <code>GET</code> i formulär, likt en sökmotor, så
          visas vad som skickas i formuläret i sökfältet. Detta gör vi genom att
          ändra <code>method</code> i formuläret till <code>GET</code> (eller
          tar bort den):
        </p>

        <!-- prettier-ignore -->
        <pre><code class="language-jinja2 line-numbers">{# templates/form.html #}
{% extends "template.html" %}
{% block content %}
&lt;form method="get"&gt;
    &lt;label&gt;Skriv ditt namn:&lt;/label&gt;
    &lt;input type="text" name="name" /&gt;
    &lt;button type="submit"&gt;Submit&lt;/button&gt;
&lt;/form&gt;
{% endblock %}</code></pre>

        <p>
          Vi ändrar även i <code>app.py</code> så att vi tar emot en
          GET-request, vi behöver även ändra i returen, eftersom vi skickar den
          till samma sida som vi är på:
        </p>

        <!-- prettier-ignore -->
        <pre><code class="language-python line-numbers">@app.route("/form", methods=["GET"])
def form():
    if request.method == "GET":
        name = request.args.get("name")
    return render_template("form.html", name=name) </code></pre>

        <p>
          Nu ändras sökvägen och lägger till vår data i sökfältet. Detta är bra
          om vi vill kunna dela länken med andra. Men sidan ändras inte, så vi
          måste ändra i <code>form.html</code> så att den visar vår data:
        </p>

        <!-- prettier-ignore -->
        <pre><code class="language-jinja2 line-numbers">{# templates/form.html #}
...
{% block content %}
&lt;h1&gt;Hej {{ name }}!&lt;/h1&gt;
&lt;form method="get"&gt;
...</code></pre>
        <p>
          Nästan rätt, har vi ingen parameter så kommer vi få ett logiskt fel
          från python. Testa själv, er du vad som är fel?
        </p>
        <p>
          Vi kan lösa detta genom att använda oss av en if-sats i
          <code>form.html</code>:
        </p>

        <!-- prettier-ignore -->
        <pre><code class="language-jinja2 line-numbers">{# templates/form.html #}
...
{% block content %}
{% if name %}
&lt;h1&gt;Hej {{ name }}!&lt;/h1&gt;
{% endif %} {# I Jinja måste vi stänga alla satser #}
&lt;form method="get"&gt;
...</code></pre>

        <p>
          Nu kommer vi inte få något felmeddelande om vi inte har någon
          parameter. Vi skulle ju självklart kunna lösa det i
          <code>app.py</code> med vanlig pythonkod. Men detta är en lösning för
          att visa lite hur Jinja fungerar och hur vi kan använda oss av det.
        </p>

        <h2 id="section-head-3">Sammanfattning</h2>
        <span class="anchor"><a href="#section-head-3">#</a></span>
        <p>
          Nu har vi lärt oss att ta emot data från ett formulär och skicka
          tillbaka det till användaren. Vi har också lärt oss att använda oss av
          <code>GET</code> och <code>POST</code> i formulär och hur vi kan
          använda oss av Jinja för att lösa logiska problem.
        </p>
        <p>
          I nästa kapitel ska vi gå igenom Jinja lite mer i detalj och hur vi
          kan använda oss av det lite mer för att skapa dynamiska sidor.
        </p>
      </article>

      <section class="next">
        <a href="flask-beginner-4.html">&larr; Föregående kapitel</a> -
        <a href="jinja-beginner.html">Nästa kapitel &rarr;</a>
      </section>
      <section class="next"><a href="/PVSPYH23">Till index-sidan</a></section>
    </main>
  </body>
</html>
